# Base de datos
DATABASE_URL=postgresql://postgres:tu_password@localhost:5432/foodstore_db

# JWT
SECRET_KEY=tu-clave-secreta-de-al-menos-32-caracteres
JWT_EXPIRATION_MINUTES=30

# MercadoPago
MP_ACCESS_TOKEN=TEST-xxxx-tu-access-token
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=tu-api-key
CLOUDINARY_API_SECRET=tu-api-secret