#DB
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/parcial_db
SECRET_KEY=parcial2-secret-key-2026
JWT_EXPIRATION_MINUTES=30

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=dpq8ll78n
CLOUDINARY_API_KEY=983426577533457
CLOUDINARY_API_SECRET=RbBwr1i2_yaL5Vlc9gn8v0Rj484